<h2>Welcome to CSE Motors!</h2>

<div class="herolabel">
    <p>The Adventador</p>
    <ul>
        <li>Amazing Acceleration</li>
        <li>Speedy Tires</li>
        <li>Manual Shift</li>
    </ul>
    <span><img src="../images/site/own_today.png" alt="own today button"></span>
</div>

<div id="hero">
    <img id="carimg" src="../images/vehicles/adventador-tn.jpg" alt="adventador car">
</div>

<div id="upgrades">
    <h3>The Adventador Upgrades</h3>
    <div class="card">
        <picture><img src="../images/upgrades/flux-cap.png" alt="flux cap"></picture>
        <p>Flux Capacitor</p>
    </div>
    <div class="card">
        <picture><img src="../images/upgrades/flame.jpg" alt="flame"></picture>
        <p>Flame Decals</p>
    </div>
    <div class="card">
        <span><img src="../images/upgrades/bumper_sticker.jpg" alt="bumper sticker"></span>
        <p>Bumper Stickers</p>
    </div>
    
    <div class="card">
        <picture><img src="../images/upgrades/hub-cap.jpg" alt="hub cap"></picture>
        <p>Hub Caps</p>
    </div>  

</div>

<div id="reviews">

    <h3>The Adventador Reviews</h3>
    <ul>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"It feels like flying, speedy." (4.5/5)</li>
        <li>"The top muscle car right now." (5/5)</li>
    </ul>

</div>